@page
@model MyApp.Namespace.AddSubjectModel
@{
    Layout = "_Layout";
}
<div class="nav-scroller bg-white box-shadow">
      <nav class="nav nav-underline">
        <a class="nav-link" href="/Subject/SubjectsList">List</a>
      </nav>
</div>
<div class="container p-3 my-3 bg-dark text-white">
    <h1>Ajouter un Matiére</h1>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4">
          <form method="post">
          <div class="form-group">

             <label asp-for="subject.NomSubjet"  class="control-label"></label><br/>
             <input asp-for="subject.NomSubjet" class="form-control"/>
             <span asp-validation-for="subject.NomSubjet" class="text-danger"></span>

             <select asp-for="subject.IdFiliere" class="custom-select">
               @foreach (var fl in Model.filieres)
                {
                    <option value="@fl.IdFiliere">@fl.NomFiliere</option>
                }
             </select>

             <select asp-for="subject.IdProf" class="custom-select">
               @foreach (var u in Model.users)
                {
                    @if(u.Status == 'P'){
                      <option value="@u.Id">@u.Nom</option>
                    }
                }
             </select>
  
          </div>
  
          <tr></tr><tr></tr><tr></tr><input class="btn btn-success" type="Submit" value="Ajouter"/>
  
          </form>
      </div>
    </div>
  </div>