@page
@model MyApp.Namespace.redirectModel
@{
}
<html>
    <head>
        <meta http-equiv="refresh" content="6;url=https://localhost:5001" />
    </head>
    <body>
        <br><br>
        <h1>You are already marked your presence</h1>
        <h1>Redirecting in 5 seconds...</h1>
    </body>
</html>